
<div *ngIf="mobile" class="mobile mob-table">

<div class="headers">
  <h2 class="table-title">Manage mobile</h2>
  <button class="btn btn-primary">Add Mobile</button>
</div>

<table class="table">
<thead>
<tr >
<th>Mobile</th>
<th>Price</th>
<th>RAM</th>
<th>STORAGE</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody class="text-center">
  <tr *ngFor="let mob of mobile">
<td>{{ mob.name }}</td>
<td>{{ mob.price }}</td>
<td>{{ mob.ram }}</td>
<td>{{ mob.storage }}</td>
<td>
<button class="btn btn-primary">Edit</button>
</td>
<td>
<button class="btn btn-danger">Delete</button>
</td>
</tr>
</tbody>
</table>

</div>
